@import '../../styles/themes.scss';
@import 'Header.module.scss';
@import 'Footer.module.scss';

#page {
	box-sizing: border-box;
	width: 950px;
	margin: 0 auto;
	padding: 0 5px 5px 5px;
	@include theme(background-color, $midBackground);
	
	@media screen and (max-width: 950px) {
		width: 100%;
	}
}

.mspface-container {
	display: flex;
	height: 102px;
}

.mspface {
	flex-shrink: 0;
	width: 208px;
	height: 100%;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center;
	@include theme(background-color, $frontBackground);
	
	@media screen and (max-width: 950px) {
		display: none;
	}
}

.wealth-spawner-container {
	flex-grow: 1;
	height: 100%;
}