@import '../../styles/themes.scss';

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0 5px 5px 5px;
	@include theme(background-color, $mid-background);
	
	@media screen and (max-width: 950px) {
		width: 100%;
	}
}

.mspface-container {
	display: flex;
	height: 102px;
}

.mspface {
	flex-shrink: 0;
	width: 208px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center;
	@include theme(background-color, $front-background);
	
	@media screen and (max-width: 950px) {
		display: none;
	}
}

.wealth-spawner-container {
	flex-grow: 1;
}