@import '../../styles/variables.scss';

$nav-height: 20px;

nav {
	display: flex;
	justify-content: center;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 9px;
	height: $nav-height;
	line-height: $nav-height;
	text-transform: uppercase;
	background-color: #000000;
	
	.stick {
		color: #bbbbbb;
	}
}

$nav-group-colors: (
	primary: #39d5f6,
	secondary: #29ff4a,
	comic: #f7f72a,
	more: #ffb529
);

#nav-group {
	@each $id, $color in $nav-group-colors {
		&-#{$id} a {
			color: $color;
			
			&:focus {
				color: #ffffff;
			}
		}
	}
}

.nav {
	&-group {
		background-color: inherit;
	}
	
	&-menu {
		&-container {
			display: inline-block;
			background-color: inherit;
		}
		
		display: none;
		position: absolute;
		margin-left: -5px;
		background-color: inherit;
		
		.nav-item:hover + &, &:hover {
			z-index: 1;
			display: block;
		}
		
		.nav-item:focus + & {
			display: block;
		}
		
		.nav-item {
			display: block;
			padding: 0 10px 0 5px;
			
			&:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}
		}
	}
	
	&-item {
		display: inline-block;
	}
}