@import 'themes.scss';

:focus {
	outline: none;
}

body {
	margin: 0;
	overflow-y: scroll; // To make the scrollbar not change visibility and offset the page horizontally when changing the page height e.g. by toggling tall spoilers on a short page.
	@include theme(background-color, $back-background);
	@include theme(color, $text-color);
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 0.75em; // We are using ems so the browser's font scale is multiplied. The default scale is 1em = 16px.
	
	@media screen and (max-width: 950px) {
		font-size: 1.1em;
	}
}