// Lets you set a CSS property which varies in value dependent on the user's theme.
@mixin theme($property, $values) {
	#{$property}: map-get($values, standard);
	@each $theme, $value in map-remove($values, standard) {
		.theme-#{$theme} & {
			#{$property}: $value;
		}
	}
}

$text-color: (
	standard: #000000
);

$back-background: (
	standard: #535353
);

$mid-background: (
	standard: #c6c6c6
);

$front-background: (
	standard: #eeeeee
);